# Fichiers compilés de Python
__pycache__/
*.py[cod]

# Environnements virtuels
env/
venv/
ENV/

# Fichiers générés par l'IDE
.vscode/
.idea/

# Fichiers de distribution
build/
dist/
*.egg-info/

# Fichiers de test et logs
.coverage
.cache

