# Fichiers et dossiers spécifiques à Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
env/
venv/
ENV/
.venv/

# Fichiers de configuration et de logs
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Fichiers générés par les outils de build
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Fichiers de test coverage
.coverage
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Fichiers de profiling
*.prof

# Fichiers de Jupyter Notebook
.ipynb_checkpoints

# Fichiers de l'éditeur de texte ou de l'IDE
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers système
.DS_Store
Thumbs.db
